ContactManagerEvolutyz.Web/Connected Services/ContactService/ContactService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ContactService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.cmservices.com:70/ContactService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.cmservices.com:70/ContactService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.cmservices.com:70/ContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CM.DAC.Models" />
      <xsd:import schemaLocation="http://www.cmservices.com:70/ContactService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CMServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IContactService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_Greetings_InputMessage">
    <wsdl:part name="parameters" element="tns:Greetings" />
  </wsdl:message>
  <wsdl:message name="IContactService_Greetings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GreetingsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IContactService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/RegisterUser" message="tns:IContactService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/RegisterUserResponse" message="tns:IContactService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Greetings">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/Greetings" message="tns:IContactService_Greetings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GreetingsResponse" message="tns:IContactService_Greetings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/Login" message="tns:IContactService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/LoginResponse" message="tns:IContactService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContactService" type="tns:IContactService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IContactService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Greetings">
      <soap:operation soapAction="http://tempuri.org/IContactService/Greetings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IContactService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactService">
    <wsdl:port name="BasicHttpBinding_IContactService" binding="tns:BasicHttpBinding_IContactService">
      <soap:address location="http://www.cmservices.com:70/ContactService.svc/CMServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>